@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', sans-serif;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
    min-height: 10vh;
    position: fixed;
    z-index: 99;
    width: 100%;
    align-items: center;
}
.logo{
    display: flex;
    height: 2em;
    width: 2em;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    /* background-color: #fff; */
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.banner{
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    overflow: hidden;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: flex;
    justify-content: center;
    color: #1E1E1E;
    background-color: #CDCDCD;
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 150px, #0001 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #CDCDCDcc, #CDCDCDcc),
    url(assets/bg.jpg);
}
.text h2{
    font-size: 3em;
    font-family: 'bebas neue', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    font-weight: 900;
    color: black;
}
.text h2::after{
    content: "The can of legends.";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    color: transparent;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.483);
}
/* .banner::before{
    content: '';
    inset: 0 0 0 0;
    background: #8f8f8f90;
    backdrop-filter: blur(5px);
    position: absolute;
} */
 .graphics{
    position: absolute;
    background-image: var(--url);
    height:  min(50%, 500px);
    min-width: 200px;
    background-size: cover;
}

 .stone1{
    left: 0;
    bottom: 0;
    width: 35%;
    background-position: right top;
    z-index: 4;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.297));
 }
 .stone3{
    right: 0;
    bottom: 0;
    width: 40%;
    background-position: left top;
    filter: grayscale(100%) brightness(0.6) drop-shadow(0 0 20px rgba(0, 0, 0, 0.297));
    z-index: 4;
 }
 .stone2{
    left: 50%;
    transform: translateX(-50%) translateY(7.5em);
    bottom: 0;
    width: 30%;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.297));
 }
 .mockup{
    width: min(80%, 11.5em);
    aspect-ratio: 2/4;
    position: absolute;
    bottom: 3.2em;
    transition: 0.6s;
    /* background-color: #fff; */
    z-index: 3;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
    /* position: relative; */
 }
 .m1{
    --left:0;
    opacity: 1;
 }
 .m2{
    --left:0;
    opacity: 0;
 }
 .m{
    --left: 0px;
    background:
        url(assets/mockup.png) 0 0,
        var(--url) var(--left);
    background-size: auto 100%;
    width: 100%;
    aspect-ratio: 2 / 4;
    background-blend-mode: multiply;
    transition: 0.8s;
    position: absolute;
    mask-image: url(assets/mockup.png);
    mask-size: auto 100%;
 }

 .mockup:hover{
    bottom: 100px;
 }
 .mockup:hover .m{
    --left:-450px;
 }
 .mockup:hover .m1{
    opacity: 0;
 }
 .mockup:hover .m2{
    opacity: 1;
 }
 @media screen and (max-width: 768px) {
    .mockup{
        bottom: 2.6em;
        width: min(80%, 10em);
    }
 }
 @media screen and (max-width: 450px) {
    .stone1, .stone3{
        display: none;
    }
    .mockup:hover .m{
        --left: -370px;
    }
    .text h2{
        margin-top: 0.8em;
    }
 }
 @media screen and (max-width: 380px) {
    .text h2{
        margin-top: 0em;
    }
 }
 @media screen and (min-height: 550px) {
    .mockup{
        bottom: 4.5em;
    }
 }
 @media screen and (min-width: 1300px) {
    .stone3{
        right: -2em;
    }
 }